#details{
    width:30rem;
    display: inline-block;
    padding : 10px;
    text-align: center;
    font-size:1.6rem;
    background-color : #86D8F9;
    border-radius : 4px;
}

#details h2{
    margin:0;
    margin-bottom: 10px;
}
#details > div {
    display : inline-block;
}

#details div:first-of-type{
    margin-right : 10px;
}

#details input{
    padding-left: 5px;
    border-radius:5px;
}